{% extends 'donante/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Listado de Donantes</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>DNI</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            {% for donante in donantes %}
            <tr>
                <td>{{ donante.id }}</td>
                <td>{{ donante.nombre }}</td>
                <td>{{ donante.telefono }}</td>
                <td>{{ donante.dni }}</td>
                <td>{{ donante.direccion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
